.button {
  border-radius: 4px;
  border: 1px solid transparent;
  border: solid 1px var(--primary-color);
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  letter-spacing: 0.4px;
  line-height: 40px;
  padding: 0 16px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  transition: ease 0.2s background-color;
  user-select: none;
}

.button.primary {
  background-color: var(--primary-color);
  color: white;
}
.button.secondary {
  background-color: white;
  color: var(--primary-color);
}

.button.remove-left-border {
  border-left: none;
}
.button.remove-right-border {
  border-right: none;
}
.button.remove-both-border {
  border: none;
}

.button.left-squared-border {
  border-radius: 0px 4px 4px 0px;
}
.button.right-squared-border {
  border-radius: 4px 0px 0px 4px;
}
.button.both-squared-border {
  border-radius: 0px;
}

.button:disabled {
  background-color: #e6ebf4;
  border: none;
  color: #bdc0cf;
  cursor: not-allowed;
}
.button.secondary:hover {
  background-color: var(--highlight-color);
}

.button.primary:hover,
.button.primary:focus {
  filter: brightness(110%);
  transition: ease 0.2s filter;
}
